/*Notes: a value is just a pre-existing html element/type, # is an id, .soomething is a class*/
/*Specific NEW font parameters*/
@font-face{
    font-family: "Title";
    src: url("Fonts/Title.otf"); /*Path relative to CSS file*/
}
@font-face{
    font-family: "Header";
    src: url("Fonts/Headers.ttf");
}
@font-face{
    font-family: "Text";
    src: url("Fonts/Text.ttf"); 
}

/*Specific CLASSES of text styles*/
.anime-title{ /*Includes dot because its custonm*/
    font-family: "Title";
    color: #E89EB8;
    font-size: 64px;
}
.Headers{
    font-family: "Header";
    color: #E89EB8;
    font-size: 50px;
}
.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; 
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-area{ /* Originally was an id, but because it overlaps with hidden, the speicifcfity overrid hidden, so we'll make them equally specific*/
    font-family: "Text";
    border: 3px solid #996D73;
    height: 200px;
    width: 200px;
    position: fixed;
    top: 100px; /*100 px from tp of page*/
    left : 50%; /* left edge is 50% from left of page*/
    transform: translateX(-50%); /*This is necessary sicne left is 50% from left of page, it will be off center, so we need to move it back 50% of its own width*/
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(237,166,196,0.5);
    display: flex; /*ALWAYS NECESSARY FOR FLEX*/
    flex-direction: row;
    place-content: center;
    /*justifyinbg works along the adxis, and aligning words to align other pieces of parallel axes*/
}
.hidden {
    display: none;/*Used to hide elements, can be used in JS to hide and show elements*/
}

h1{
    text-align: center;
    letter-spacing: 4px;
}


.fakebutton {
    background-color: #FFFFC5;
    padding: 10px 20px; /*top/bottom, left/right*/
    font-family: "Title";
    font-size: 16px;
    border:3px solid#E89EB8;
    border-radius: 10px; /*Make rounded corners*/
    cursor: pointer;
    color: #E89EB8;
    text-decoration: none; /*remove underline*/
    display: inline-block; /*was needed to make it trsansform so the link appears as a block and not text or smth??*/
}
.fakebutton:hover { 
    transform: scale(1.05); /*Make it slightly bigger*/
    cursor: url('Images/pointer.png'), pointer;
    
}

p, ol, ul, li, a{
    font-family: "Text";
    color: black;
    font-size: 20px;
    font-weight: 100;
}
img{
    border: 10px solid #E89EB8;
    border-radius: 10px;
}

.search-bar {
    border: 3px solid #996D73;
    border-radius: 10px;
    padding: 5px;
}
#search-bar{
    border: 3px solid #996D73;
    border-radius: 10px;
    padding: 5px;
}

#search-bar2{
    border: 3px solid #996D73;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    font-family: "Header";
    font-size: medium;
    /*move to left the display becomes the entire screen block then you maximize margin AWAY from left */
    display:block;
    margin-left: auto;
}
#search-bar2:hover{
    transform: scale(1.05);
}
#full-body {
    position: fixed;
    inset: 0; /*Makes it cover everything with no gaps on top, bottom, left, or right*/
}
#background {
    background-image: url(Images/background.jpg);
    background-size: cover; /*scale image so whole thing fits*/
    width: 100vw;
    height:100vh;
    box-sizing: border-box; /*make border match specifieid hheight and width*/
    border: 30px solid #ffffff;
    outline: 10px solid #E89EB8;
   
}