/*Notes: a value is just a pre-existing html element/type, # is an id, .soomething is a class*/
/*Specific NEW font parameters*/
@font-face{
    font-family: "Title";
    src: url("Fonts/Title.otf"); /*Path relative to CSS file*/
}
@font-face{
    font-family: "Header";
    src: url("Fonts/Headers.ttf");
}
@font-face{
    font-family: "Text";
    src: url("Fonts/Text.ttf"); 
}

/*Specific CLASSES of text styles*/
.anime-title{ /*Includes dot because its custonm*/
    font-family: "Title";
    color: #E89EB8;
    font-size: 64px;
}
.Headers{
    font-family: "Header";
    color: #E89EB8;
    font-size: 50px;
}
.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; 
}
.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-area{ /* Originally was an id, but because it overlaps with hidden, the speicifcfity overrid hidden, so we'll make them equally specific*/
    font-family: "Text";
    border: 3px solid #996D73;
    min-height: 200px;
    width: 200px;
    position: fixed;
    top: 100px; /*100 px from tp of page*/
    left : 50%; /* left edge is 50% from left of page*/
    transform: translateX(-50%); /*This is necessary sicne left is 50% from left of page, it will be off center, so we need to move it back 50% of its own width*/
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(237,166,196,0.5);
    display: flex; /*ALWAYS NECESSARY FOR FLEX*/
    flex-direction: row;
    place-content: center;
    /*justifyinbg works along the adxis, and aligning words to align other pieces of parallel axes*/
}
.hidden {
    display: none;/*Used to hide elements, can be used in JS to hide and show elements*/
}

h1{
    text-align: center;
    letter-spacing: 4px;
}


.fakebutton {
    background-color: #FFFFC5;
    padding: 10px 20px; /*top/bottom, left/right*/
    font-family: "Title";
    font-size: 16px;
    border:3px solid#E89EB8;
    border-radius: 10px; /*Make rounded corners*/
    cursor: pointer;
    color: #E89EB8;
    text-decoration: none; /*remove underline*/
    display: inline-block; /*was needed to make it trsansform so the link appears as a block and not text or smth??*/
}
.fakebutton:hover { 
    transform: scale(1.05); /*Make it slightly bigger*/
    cursor: url('Images/pointer.png'), pointer;
    
}
#results{
    /*display: flex;
    flex-direction: row;
    gap: 5px;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px; /*!!!LEARN TO EXPLAIN GRID VS FLEXBOX*/
}


.anime-card {
    min-height: 400px;    
    width: 300px;
    
    
    background-color: #FFFFC5;
    
    display: flex;
    flex-direction: column;
    
    padding: 2px 2px; /*top/bottom, left/right. space in element*/
    
    font-family: "Title";
    font-size: 14px;
    
    border:5px solid#E89EB8;
    border-radius: 12px; /*Make rounded corners*/
    
    color: #E89EB8;
    text-decoration: none; /*remove underline*/

    margin: 5px;
    position: relative; /*Needed when having the child boxes stack, else theyll move to the next parent container with a position layout defied*/
}
.anime-card:hover { /*get image frorm in the card*/
    transform: scale(1.05);

}

p, ol, ul, li, a{
    font-family: "Text";
    color: black;
    font-size: 20px;
    font-weight: 100;
}
img{
    border: 10px solid #E89EB8;
    border-radius: 10px;
}

.search-bar {
    border: 3px solid #996D73;
    border-radius: 10px;
    padding: 5px;
}
#search-bar{
    border: 3px solid #996D73;
    border-radius: 10px;
    padding: 5px;
}

#search-bar2{
    border: 3px solid #996D73;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    font-family: "Header";
    font-size: medium;
    /*move to left the display becomes the entire screen block then you maximize margin AWAY from left */
    display:block;
    margin-left: auto;
}
#search-bar2:hover{
    transform: scale(1.05);
}
#full-body {
    position: fixed;
    inset: 0; /*Makes it cover everything with no gaps on top, bottom, left, or right*/
}
#background {
    background-image: url(Images/background.jpg);
    background-size: cover; /*scale image so whole thing fits*/
    width: 100vw;
    min-height:100vh;
    box-sizing: border-box; /*make border match specifieid hheight and width*/
    border: 30px solid #ffffff;
    outline: 10px solid #E89EB8;
   
}

.summary-card{
    font-size = 16px;
}
.anime-card  p{
    display: -webkit-box;
    -webkit-box-orient: vertical; /*clamp it to 3 lines vertically*/
    -webkit-line-clamp: 3; /*only number of lines to appear*/
    overflow-wrap: break-word; /*break a long word*/
    /*text-overflow: ellipsis; /*turn text into ellipsis... mainly for singlw line*/
    font-size: 20px;
    /*overflow: hidden; /*hide anything past the box*/
    line-height: 3;
    margin: 0.25px;
}
.anime-card  h1{
    margin: 0.25px;
    font-size: 20px;
}
#frontOfCard, #backOfCard {
    position: absolute; /*works with speicifed containing block*/
    /*where it starts*/
    /*top: 0;
    left: 0;
    /*where it ends*/
   /* width: 100%;
    height: 100%;*/
}
.anime-card img {
    width: 75%;
    height: 50%;
    margin-top: 5px;
    object-fit: cover;

    align-self: center;

    border:5px solid #996D73;
    border-radius: 12px;
}
#frontOfCard{
    /*display:block/*visible block*/
}
.anime-card:hover #frontOfCard{
    display: none/*visible block*/
}
#backOfCard {
    display:none
}
.anime-card:hover #backOfCard {
    display:block /*visible block*/;
    font-size: 4px;
    line-height: 1px;
    height: 100%;
    /*Scroollbar*/
    flex: auto; /*flex: [flex-grow]=1 (can grow) [flex-shrink]=1 (can shrink) [flex-basis]=auto (look at the containers szie; */
    overflow-y: auto; /*Scrolluing mechanism*/
}
.searchResults {
    font-family: "Title";
    color: #E89EB8;
    font-size: 64px;
    display: flex;
    justify-items: center; /*horizantal*/
    align-items: center; /*vertical*/
}